.belowNav {
	background-image: url(../../assets/images/BG.svg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.maiD {
	display: flex;
	align-items: center;
}
.belowNav__Left h4 {
	margin-bottom: 0;
	color: white;
	font-size: 28px;
	font-weight: 700;
	width: 60%;
}
.belowNav__Left p {
	padding-bottom: 20px;
	color: white;
	font-weight: 100;
	width: 90%;
}

.belowNav__Left a {
	padding: 10px 30px;
	border-radius: 25px;
	background-color: #fff;
	text-decoration: none;
	color: linear-gradient(178.18deg, #fd749b -13.56%, #281ac8 158.3%);
}
.welcomeRight h1 {
	color: rgba(253, 116, 155, 1);
	padding-bottom: 20px;
}
.welcomeRight p {
	padding-bottom: 20px;
	font-weight: 500;
	line-height: 35px;
}
.welcomeRight a {
	padding: 10px 30px;
	border-radius: 25px;
	text-decoration: none;
	color: white;
	background: linear-gradient(178.18deg, #fd749b -13.56%, #281ac8 158.3%);
}
.rates {
	background-image: url(../../assets/images/BG-rates.svg);
	background-size: cover;
	height: 1128.405029296875px;
	width: 1663.623291015625px;
	border-radius: 0px;
	position: relative;
}
.rates__ {
	display: flex;
	align-items: center;
	background-position: center;
	background-color: white;
	padding: 20px;
	position: absolute;
	margin-top: 550px;
	border-radius: 30px;
}
.rates-title h1 {
	color: rgba(253, 116, 155, 1);
}
.expereince__left h4 {
	margin-bottom: 0;
	color: rgba(253, 116, 155, 1);
	font-size: 28px;
	font-weight: 700;
	width: 60%;
}
.expereince__left p {
	padding: 20px 0;
	line-height: 35px;
	font-weight: 400;
	width: 90%;
}
.expereince__left a {
	padding: 10px 30px;
	border-radius: 25px;
	color: #fff;
	text-decoration: none;
	background: linear-gradient(178.18deg, #fd749b -13.56%, #281ac8 158.3%);
}
.trade-everyWhere {
	background-image: url("../../assets/images/trades.svg");
	height: 500px;
	width: 1663.62px;
	position: relative;
	background-size: cover;
}
.trades__ {
	margin-top: 100px;
	background-color: #fff;
	width: 1000px;
	position: absolute;
	min-height: 400px;
	border-radius: 30px;
	box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.1);
}

.trade__intro p {
	color: rgba(253, 116, 155, 1);
	text-align: center;
	align-items: center;
	font-size: 28px;
	font-weight: 700;
}
.trade__item {
	width: 300px;
	height: 200px;
	border: 1px solid #fd749b;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
}
.trade__item img {
	height: 50px;
	width: 50px;
}
.maiD1 {
	display: flex;
	align-items: center;
	justify-content: center;
	background-position: center;
}
.blogs__intro {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.blogs__intro p {
	color: #fd749b;
	font-size: 28px;
	font-weight: 700;
}
.blogs__intro h6 {
	margin: 0;
	font-weight: 500;
	padding-bottom: 20px;
}
.blogs__Item {
	border: 2px solid lightgray;
	border-radius: 10px;
	padding: 20px 10px;
	margin: 0 3px;
}
.blogs__Item > a {
	padding: 10px 30px;
	border-radius: 25px;
	color: #fff;
	margin-bottom: 20px !important;
	text-decoration: none;
	background: linear-gradient(178.18deg, #fd749b -13.56%, #281ac8 158.3%);
}
.blogs__Item p {
	color: rgba(136, 136, 136, 1) !important;
	line-height: 35px !important;
}
.blogs__Title span {
	color: #fd749b;
}
