.belowNav {
	background-image: url(../../assets/images/BG.svg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.maiD {
	display: flex;
	align-items: center;
}
.belowNav__Left h4 {
	margin-bottom: 0;
	color: white;
	font-size: 28px;
	font-weight: 700;
	width: 60%;
}
.belowNav__Left p {
	padding-bottom: 20px;
	color: white;
	font-weight: 100;
	width: 90%;
}

.belowNav__Left a {
	padding: 10px 30px;
	border-radius: 25px;
	background-color: #fff;
	text-decoration: none;
	color: linear-gradient(178.18deg, #fd749b -13.56%, #281ac8 158.3%);
}
.welcomeRight h1 {
	color: rgba(253, 116, 155, 1);
	padding-bottom: 20px;
}
.welcomeRight p {
	padding-bottom: 20px;
	font-weight: 500;
	line-height: 35px;
}
.welcomeRight a {
	padding: 10px 30px;
	border-radius: 25px;
	text-decoration: none;
	color: white;
	background: linear-gradient(178.18deg, #fd749b -13.56%, #281ac8 158.3%);
}
.rates {
	background-image: url(../../assets/images/BG-rates.svg);
	background-size: cover;
	height: 1128.405029296875px;
	width: 1663.623291015625px;
	border-radius: 0px;
	position: relative;
}
.rates__ {
	display: flex;
	align-items: center;
	background-position: center;
	background-color: white;
	padding: 20px;
	position: absolute;
	margin-top: 550px;
	border-radius: 30px;
}
.rates-title h1 {
	color: rgba(253, 116, 155, 1);
}
